@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


*{
    margin:0;
    padding:0;   
    font-family: 'Quicksand', sans-serif;
    
  
  
}


body {
  
   background-color: rgb(45, 48, 47);
   color: white;
   height: 100vh;
   width: 100%;
   overflow: hidden auto;

   
    
    
}


.particles-js{
    height: 100%;
}


.sulat{
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
    
    
    --minFontSize: 50px;
    --maxFontSize: 60px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );    
    font-weight: 800;
    
}

.fa-virus{
    color: white;
    margin-left: -17px;
    margin-right: -14px;
   
}

.subm{
    
    align-content: center;
}

.sub{
    text-align: center;
     font-size: 22px;
    font-weight: 800;
    line-height: 0;
  
   
}

#oww, #rek, #kon{
    text-align: center;
    align-content: center;
    /* font-size: calc(80px + (90- 14) * ((100vw - 300px) / (1600 - 300)));  */
    
    --minFontSize: 20px;
    --maxFontSize: 50px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );    
    font-weight: 800;
    
    
}

#oww{
   padding-top: 12px;
   padding-bottom: -5px;
   

}


#confirm{
  
    background-color: rgba(54,53,53, 0);
    /* float: left; */
    margin-top: 20%; 
    border-bottom: 20px solid #b18e26;
    /* rgba(84,110,122, 0.6); */ 

    
   
 }

 #recover{
  
    background-color: rgba(54,53,53, 0);
    align-content: center;
    margin-top: 20%; 
    border-bottom: 20px solid rgba(67,160,71, 0.5);   
   
 }

 #Rekober{
  
    padding-left: 2px; 
    font-size: calc(16px + (18- 14) * ((100vw - 300px) / (1600 - 300)));
    
 }

 #konpirm{
    padding-left: 2px; 
    font-size: calc(16px + (18- 14) * ((100vw - 300px) / (1600 - 300)));
 }

 #ded{
  
    background-color: rgba(54,53,53, 0);
    text-align: left;    
    margin-top: 22%; 
    padding-left: 2px; 
    padding-top: 1px;
    border-bottom: 20px solid  #F7653F;/*  rgba(229,57,53, 0.6);   */

   
 }

 p#awts{

    margin-top: 6px; /* bagong dagdag para lang mag align*/   
    margin-bottom: 2px;
    line-height: 30px;
    font-weight: 900;
    letter-spacing: 1px;
   /* background-color: rgba(229,57,53, 0.6);  */
    height: 28px;     
    border-radius: 2px;
    font-size: calc(16px + (18- 14) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;  
    position: inherit;
    text-align: center;

    
    
   
   
   
 }

 p#Rekober{
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 1px;
    /* background-color: rgba(67,160,71, 0.5);   */    
    border-radius: 2px;    
    font-size: calc(16px + (18- 14) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;   

 }

 p#konpirm{
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 1px;
    /* background-color: rgba(84,110,122, 0.6); */      
    border-radius: 2px;    
    font-size: calc(16px + (18- 14) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;   
    
 }


.responsive-img{
  display: block;
  margin-left: 70%;
  
  
  
  
}

 /* .fa-globe{
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 15px;
    margin-left: 40%;
 }*/

/* .fa-procedures{
    font-size: calc(40px + (47 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 900;
    text-align: center;
    
    
} */



#ded, #Rekober, #konpirm{
   
    line-height: normal;
    

}

p#ded, p#Rekober, p#konpirm {
    margin: 0;
    text-align: left;
    text-align: center;
    

}




.card-title {
    text-align: center;
}


/* para materialize select 2 */

.select2-container--default .select2-selection--single .select2-selection__rendered {

    color: white !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;

}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: white transparent transparent;
}

.select2-results__options li {
    color: #424242 !important;
    font-size: larger;
    font-weight: 900;
    letter-spacing: 2px;
}

.select2-search__field{
    color: #424242;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;
    
        
}


.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent white transparent;
    border-width: 0 4px 5px 4px;
}


.select2-search { 
    padding-left: 8px;
    letter-spacing: 4px;
    color: #424242 !important;
 
    font-weight: 900;

}



.select2-results, .select2-search input  {   /* para select bg color */
    background-color: rgba(255, 255, 255, 0.5);
 }


.plag{
    text-align: center;
    margin-top: 5px;
    padding:0;
    position: relative;
    margin-left: -10%;

    
    
   
}

#plag, #popul{
    display: none;  /* testing dito */
}

img{
    width: 90px;
}

.countrydetails{
    margin-top: 0;
    margin-bottom: 0;
   
    text-align: center;
    font-weight: 900;
    letter-spacing: 1px;
    
    
    --minFontSize: 45px;
    --maxFontSize: 75px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );    
    font-weight: 800;
            
}

p.updated{
    
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    --minFontSize: 15px;
    --maxFontSize: 18px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );    
    font-weight: 800;
    
}

.popul{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    --minFontSize: 15px;
    --maxFontSize: 16px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );    
    font-weight: 800;
   
    margin-left: -110px;
    margin-top: 3px;
    
}



.fa-notes-medical{
    --minFontSize: 40px;
    --maxFontSize: 70px;
    --scaler: 15vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );    
    font-weight: 900;   
    text-align: center;
    margin-bottom: 7px;
}


   

#pambaba{
   padding-top: 1100px;
}


#puter{
    background-color: unset;
}

#putertwo{
    /* background-color: rgb(54,53,57); */
    background-color: rgb(45, 48, 50);
    font-weight: 900 !important;
    letter-spacing: 0.5px;
    font-family: 'Quicksand', sans-serif;
}

.fa-github, .fa-terminal{

    --minFontSize: 20px;
    --maxFontSize: 25px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );    
    font-weight: 900;   
    letter-spacing: 1rem;

}




#resource{
    font-weight: 900;
    letter-spacing: 1px;
}


.trap{
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
    
    
   
}

#spin{
    display: none;
}


#abangwan, #abangtwon, #abangtres, #abangkwatro, #abangwana{
   font-size: calc(15px + 0.1rem);
   text-align: left;
   font-weight: 700;
   letter-spacing: 1px;
   font-family: 'Quicksand', sans-serif;


}




#deyt{
    font-size: calc(13px + 0.1rem);
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
 
}


#kahaponito{
   font-size: 0.01px;
}


#errorto{
    --minFontSize: 35px;
    --maxFontSize: 45px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );    
    font-weight: 800;
}


#abangkwatro{
    margin-top: 2px;
    margin-bottom: 3px;
}


@media (max-width: 600px) {

    body{
        margin: auto;
    }

  

    #wan, #two{
        display: none;
    }

   

      #confirm{

       margin-top: 5%; 
       padding:auto;       
       border-bottom: 20px solid #b18e26;
       /* rgba(84,110,122, 0.6); */

      }

     

      #recover, #ded{
        /*padding-top:  10px;*/
        margin: 0;
        

      }

     /*  .fa-procedures, .fa-hospital-user, .fa-user-times{
       
        text-align: center;
        align-content: center;
        
    } */

    #oww, #rek, #kon{
        text-align: center;
    }

    .plag{
       
        padding:0;       
        margin-left: 0;
        
       
    }

    .popul{
        margin-left: 0;
    }


    .responsive-img{
        
        margin-left: 0;
        display: inline-block;
        
        
      }

      #abangkwatro{
        margin-top: 0;
        margin-bottom: 0;
    }

} /* end of first media query */


